<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>MInimal wallet</title>
</head>

<body>
  <div class="DashboardWrap">
    <div class="Profile">
      <div class="infowrap">
        <div class="imagediv">
          <img src="/images/Notion Avatar.png" alt="UserProfilepic">
        </div>
        <input id="profilePicture" name="profilePicture" type="file">
        <div class="userdetails">
          <p>
            Name: <%= username %>
          </p>
          <br>
          <p>
            ID: <%= userId.substr(0, 8) %>
          </p>
        </div>
      </div>
    </div>
    <!--=====================================================DASHBOARD===============================-->



    <div class="Dasboard">
      <div class="Deposite">
        <h2>Deposit</h2>
        <p class=DepositeBalance>
          $ <span id="deposit">0 </span>
          <i class="fa-solid fa-arrow-trend-up"></i>

        </p>
      </div>

      <div class=" Withdraw">
        <h2>Withdraw</h2>
        <p class=withdrawBalance>
          $ <span id="withdraw">0</span>
          <i class="fa-solid fa-arrow-trend-down"></i>
        </p>
      </div>

      <div class="Balance">
        <h2>Balance</h2>
        <p class=TotalBalance>
          $ <span id="balance">0</span>
          <i class="fa-solid fa-wallet"></i>
        </p>
      </div>
    </div>

    <!-- =========================================================================================================== -->


    <div class="InputSection">
      <div class="Depositeinput">
        <h3>Deposit</h3>
        <input type="number" class="form-control    border" id="js-depositinput" placeholder="Deposit">
        <br>
        <button class="btn1">Deposit</button>
      </div>
      <div class="Withdrawinput">
        <h3>Withdraw</h3>
        <input type="number" class="form-control  border" id="js-withdrawinput" placeholder="Withdraw">
        <br>
        <button class="btn2">Withdraw</button>
      </div>
    </div>
    <button class="btn3"><a href="/login">Logout</a></button>

  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>